.qr-generator {
  text-align: center;
}

input[type='text'] {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: none;
  border-radius: 8px;
  outline: none;
}

label {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #fff;
}

input[type='number'] {
  padding: 10px;
  margin-bottom: 20px;
  border: none;
  border-radius: 8px;
  outline: none;
}

input[type='color'] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 25%;
  height: 5vh;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

input[type='color']::-webkit-color-swatch {
  border-radius: 15px;
  border: none;
}

input[type='color']::-moz-color-swatch {
  border-radius: 15px;
  border: none;
}

input[type=file] {
  color: #fff;
}

input[type=file]::file-selector-button {
  margin-right: 20px;
  border: none;
  background: #ee9ca7;
  padding: 10px 20px;
  border-radius: 10px;
  color: #fff;
  cursor: pointer;
  transition: background .2s ease-in-out;
}

input[type=file]::file-selector-button:hover {
  background: #ee9ca7;
}


button {
  background-color: #1c109f;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #3f5dd6;
}

button.generating {
  background-color: #3a8dd2;
  pointer-events: none;
}


#qr-code {
  margin-top: 20px;
  background: rgba(255, 255, 255, 0.3);
  border-radius: 10px;
  padding: 20px;
  transition: opacity 0.3s ease;
}

#qr-code.loading {
  opacity: 0.5;
}

.download-button {
  margin-top: 20px;
  background-color: #63cdda;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-left: 1vw;
}

.download-button:hover {
  background-color: #4e8ac7;
}

.customization {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.customization>div {
  display: flex;
  justify-content: space-between;
  margin: .3em 0;
}